@using Fleetly.Models.Entities
@model List<Vehicle>

<h2>Panel Samochodów</h2>

<a asp-action="Create" class="btn btn-primary">Dodaj Samochód</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rejestracja</th>
            <th>Rok Produkcji</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>
                    <img src="" width="100" />
                </td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Registration</td>
                <td>@vehicle.Year</td>
                <td>
                    <a asp-controller="VehicleDetails" asp-action="Details" asp-route-id="@vehicle.Id" class="btn btn-sm btn-info">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@vehicle.Id" class="btn btn-sm btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
